<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <table id="allMovies">
        <thead>
        <tr>
            <th width="70%">Name</th>
            <th>Score</th>
        </tr>
        </thead>
        <tbody>
        <tr class="result" th:each="account : ${accounts}">
            <td th:text="${account.id}"></td>
            <td th:text="${account.username}"></td>
        </tr>
        </tbody>
    </table>
</body>
</html>